<div>
<form name="regForm">
  <!--FIRST NAME-->
  <div class="form-group">
  <input type="text" placeholder="First name" class="form-control" ng-model="register.firstName" required>
  </div>
  <!--LAST NAME-->
  <div class="form-group">
  <input type="text" placeholder="Last name" class="form-control" ng-model="register.lastName" required>
  </div>
  <!--USERNAME-->
  <div class="form-group">
  <input type="text" name="userName" placeholder="Username" class="form-control" ng-model="register.userName" required="" ng-minlength="8">
  </div>
  <div ng-show="regForm.$submitted || regForm.userName.$touched">
  <span ng-show="regForm.userName.$error.required">This field is required</span>
  <span ng-show="regForm.userName.$error.minlength">The username should be more then 8 character</span>
  </div>
  <!--EMAIL-->
  <div class="form-group" ng-class="{ 'has-error' : regForm.emailId.$invalid }">
  <input type="email" name="emailId" placeholder="Email" class="form-control" ng-model="register.emailId" required="">
  </div>
  <div ng-show="regForm.$submitted || regForm.emailId.$touched">
    <span ng-show="regForm.emailId.$error.required">Tell us your email.</span>
    <span ng-show="regForm.emailId.$invalid">This is not a valid email.</span>
  </div>
  <!--PASSWORD-->
  <div class="form-group">
  <input type="password" name="password" placeholder="Password" class="form-control" ng-model="register.password" ng-minlength="8" required="">
  </div>
  <div ng-show="regForm.$submitted || regForm.password.$touched">
  <span ng-show="regForm.password.$error.required">This field is required</span>
  <span ng-show="regForm.password.$error.minlength">The password should be more then 8 character</span>
  <span ng-if="passwordvalidatemsg">{{passwordvalidatemsg}}</span>
  <span ng-if="passwordinvalidatemsg">{{passwordinvalidatemsg}}</span>
  </div>
<!--CONFIRM PASSWORD-->
  <div class="form-group">
  <input type="password" placeholder="Confirm password" class="form-control" required>
  </div>

  <button type="submit" ng-click="SaveData(register)">Register</button>
  <div>{{msg}}</div>
</form>
</div>
