<div>
  <div class="form-group">
  <input type="text" placeholder="First name" class="form-control" ng-model="register.firstName">
  </div>

  <div class="form-group">
  <input type="text" placeholder="Last name" class="form-control" ng-model="register.lastName">
  </div>
  <div class="form-group">
  <input type="email" placeholder="Email" class="form-control" ng-model="register.emailId">
  </div>
  <div class="form-group">
  <input type="password" placeholder="Password" class="form-control" ng-model="register.password">
  </div>
  <div class="form-group">
  <input type="password" placeholder="Confirm password" class="form-control">
  </div>
  <a href="#/login" ng-click="SaveData()">Register</a>
  <div>{{msg}}</div>
</div>
